GIT dz.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 rel. 2 (http://www.altova.com) by TeaM DJiNN (TeaM DJiNN) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:altova="http://www.altova.com/xml-schema-extensions" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="Request">
		<xs:annotation>
			<xs:documentation>Основной охватывающий блок запроса.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="App-Data">
					<xs:annotation>
						<xs:documentation>Блок данных клиента</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Client">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="UNI">
											<xs:complexType>
												<xs:attribute name="Globalid" use="required">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:pattern value="Пустая строка"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="System" type="xs:string" use="required"/>
												<xs:attribute name="Type" type="xs:string" use="required"/>
												<xs:attribute name="Number" use="required">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:pattern value="Идентификаторклиента в СИФ"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="Identification">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="IdntList">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="IdntRecord" maxOccurs="unbounded">
																	<xs:annotation>
																		<xs:documentation>Обязательно наличие </xs:documentation>
																	</xs:annotation>
																	<xs:complexType>
																		<xs:attribute name="Status" use="required">
																			<xs:simpleType>
																				<xs:restriction base="xs:string">
																					<xs:enumeration value="Константа «Actual»"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:attribute>
																		<xs:attribute name="System" use="required">
																			<xs:simpleType>
																				<xs:restriction base="xs:string"/>
																			</xs:simpleType>
																		</xs:attribute>
																		<xs:attribute name="OrgUnit" type="xs:string" use="required"/>
																		<xs:attribute name="Id" type="xs:string" use="required"/>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="Type" use="required">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Константа «dimGetCliObjectList»"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="CIMVersion" use="optional">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Константа «3»"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="ObjectType" use="optional">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Константа «Deposit»"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="NotClosed" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Value">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="Константа«false»"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Response">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Bis-Data">
					<xs:annotation>
						<xs:documentation>Блок служебной транспортной информации исходного запроса. Используется шиной для маршрутизации ответа.Содержание блока описывается в отдельной документации.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="App-Data">
					<xs:annotation>
						<xs:documentation>Охватывающий блок прикладных данных исходного запроса.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Response">
								<xs:annotation>
									<xs:documentation>блок ответа</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ObjectList">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="ObjectList" minOccurs="0" maxOccurs="unbounded">
														<xs:annotation>
															<xs:documentation>Элемент прикладных данных ответа</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="AccountList" minOccurs="0" maxOccurs="unbounded">
														<xs:annotation>
															<xs:documentation>Элемент списка счетов</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="LoanList" minOccurs="0" maxOccurs="unbounded">
														<xs:annotation>
															<xs:documentation>Элемент списка кредитов</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="LoanApplicationList" minOccurs="0" maxOccurs="unbounded">
														<xs:annotation>
															<xs:documentation>Элемент списка </xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="DepositList" minOccurs="0" maxOccurs="unbounded">
														<xs:annotation>
															<xs:documentation>Элемент списка депозитов</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Deposit" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Элемент депозита</xs:documentation>
																	</xs:annotation>
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="DepositContract">
																				<xs:annotation>
																					<xs:documentation>Блок данных договора</xs:documentation>
																				</xs:annotation>
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="Status">
																							<xs:annotation>
																								<xs:documentation>Состояние</xs:documentation>
																							</xs:annotation>
																							<xs:complexType>
																								<xs:attribute name="Value" type="xs:string" use="required">
																									<xs:annotation>
																										<xs:documentation>Состояние</xs:documentation>
																									</xs:annotation>
																								</xs:attribute>
																							</xs:complexType>
																						</xs:element>
																						<xs:element name="Number">
																							<xs:annotation>
																								<xs:documentation>Номер договора</xs:documentation>
																							</xs:annotation>
																							<xs:complexType>
																								<xs:attribute name="Value" type="xs:string" use="required">
																									<xs:annotation>
																										<xs:documentation>Номер договора</xs:documentation>
																									</xs:annotation>
																								</xs:attribute>
																							</xs:complexType>
																						</xs:element>
																						<xs:element name="OpenDate">
																							<xs:annotation>
																								<xs:documentation>Дата открытия договора</xs:documentation>
																							</xs:annotation>
																							<xs:complexType>
																								<xs:attribute name="Value" type="xs:string">
																									<xs:annotation>
																										<xs:documentation>Дата открытия договора</xs:documentation>
																									</xs:annotation>
																								</xs:attribute>
																							</xs:complexType>
																						</xs:element>
																						<xs:element name="EndDate">
																							<xs:annotation>
																								<xs:documentation>Дата окончания договора</xs:documentation>
																							</xs:annotation>
																							<xs:complexType>
																								<xs:attribute name="Comment" type="xs:string" use="optional">
																									<xs:annotation>
																										<xs:documentation>Комментарий</xs:documentation>
																									</xs:annotation>
																								</xs:attribute>
																								<xs:attribute name="Value" use="required">
																									<xs:annotation>
																										<xs:documentation>Дата в формате «гггг-мм-дд»</xs:documentation>
																									</xs:annotation>
																									<xs:simpleType>
																										<xs:restriction base="xs:string">
																											<xs:pattern value="Может быть пустой"/>
																										</xs:restriction>
																									</xs:simpleType>
																								</xs:attribute>
																							</xs:complexType>
																						</xs:element>
																						<xs:element name="CloseDate">
																							<xs:annotation>
																								<xs:documentation>Датазакрытия договора</xs:documentation>
																							</xs:annotation>
																							<xs:complexType>
																								<xs:attribute name="Value" use="required">
																									<xs:annotation>
																										<xs:documentation>Дата в формате «гггг-мм-дд»</xs:documentation>
																									</xs:annotation>
																									<xs:simpleType>
																										<xs:restriction base="xs:string">
																											<xs:maxLength value="10"/>
																											<xs:pattern value="Может быть пустой"/>
																										</xs:restriction>
																									</xs:simpleType>
																								</xs:attribute>
																							</xs:complexType>
																						</xs:element>
																						<xs:element name="Period">
																							<xs:annotation>
																								<xs:documentation>Срок вклада</xs:documentation>
																							</xs:annotation>
																							<xs:complexType>
																								<xs:attribute name="Unit" use="required">
																									<xs:annotation>
																										<xs:documentation>Единица измерения</xs:documentation>
																									</xs:annotation>
																									<xs:simpleType>
																										<xs:restriction base="xs:string">
																											<xs:pattern value="«Day», «year» или «mounth»"/>
																											<xs:enumeration value=""/>
																										</xs:restriction>
																									</xs:simpleType>
																								</xs:attribute>
																								<xs:attribute name="Value" type="xs:int">
																									<xs:annotation>
																										<xs:documentation>Срок вклада в заданных единицах изменения  </xs:documentation>
																									</xs:annotation>
																								</xs:attribute>
																							</xs:complexType>
																						</xs:element>
																						<xs:element name="Currency">
																							<xs:annotation>
																								<xs:documentation>Валюта депозита</xs:documentation>
																							</xs:annotation>
																							<xs:complexType>
																								<xs:simpleContent>
																									<xs:extension base="xs:string">
																										<xs:attribute name="Value" use="required">
																											<xs:simpleType>
																												<xs:restriction base="xs:string">
																													<xs:maxLength value="3"/>
																												</xs:restriction>
																											</xs:simpleType>
																										</xs:attribute>
																									</xs:extension>
																								</xs:simpleContent>
																							</xs:complexType>
																						</xs:element>
																					</xs:sequence>
																					<xs:attribute name="Value" use="required">
																						<xs:annotation>
																							<xs:documentation>Вид депозит/счет</xs:documentation>
																						</xs:annotation>
																						<xs:simpleType>
																							<xs:restriction base="xs:string">
																								<xs:pattern value="Для вклада физ лица возвращается «Deposit»"/>
																							</xs:restriction>
																						</xs:simpleType>
																					</xs:attribute>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="cifID" type="xs:string" use="optional">
													<xs:annotation>
														<xs:documentation>Идентификатор клиента в СИФ</xs:documentation>
													</xs:annotation>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="ResultCode" use="required">
										<xs:annotation>
											<xs:documentation>Код результата</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:integer">
												<xs:pattern value=""/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="ErrorString" type="xs:string" use="optional">
										<xs:annotation>
											<xs:documentation>Сообщение об ошибке</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
